/* SET GOOGLE FONTS HERE */
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');

html {
    font-family: 'Rethink Sans', sans-serif;
}

.container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 75%;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-wrapper {
    background-color: white;
    border-radius: 10px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.card-header {
    margin: 4rem;
    margin-bottom: 0px;
}

#question {
    margin-bottom: 1rem;
}

#points {
    text-align: center;
    margin-top: 0;
}

#submit > input {
    margin-top: 1rem;
    height: 3rem;
    width: 100%;
    font-size: large;
    border-color: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #4894e0;
    color: white;
}

.card-questions .option {
    margin-left: 25%;
}

input[type=radio] {
    margin-top: 0;
    margin-right: 0.5rem;
    width: 5%;
    height: 2.5rem;
    vertical-align: middle;
}